body {
  width: 100%;
  max-width: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  color: #141415;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}
.footer {
  margin-top: auto;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
main a,
footer a {
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}
address {
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
figure {
  .reset();
}
textarea,
input,
button,
select {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #141415;
  border: none;
}
textarea,
input,
button,
select,
a {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  &:focus { 
    outline: none !important;
  }
}
button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}
.swiper-button-prev,
.swiper-button-next {
  outline: none;
}
h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
}
h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}