.connect {
  margin-bottom: 100px;
}
.connect__block {
  display: block;
  height: 300px;
  margin-bottom: 10px;
  padding: 35px 25px;
  text-decoration: none;
  border-radius: 25px;
  background-color: #fff;
  background-repeat: no-repeat;
  
  &--wa {
    background-image: url(../img/images/bg-3mobile.png);
    background-size: cover;
    background-position: center;
  }
  &--tg {
    background-image: url(../img/images/bg-4.png);
    background-size: 162px 162px;
    background-position: right 26px bottom;
  }
  .more-btn {
    margin-top: auto;
  }
}
.connect__wrap {
  height: 100%;
  max-width: 196px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #737581;
  
  p {
    margin-top: 0;
  }
}
.connect__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #141415;
}