@media (min-width: 360px) {
  .footer__block address {
    max-width: 240px;
  }
  .footer__btn {
    width: 165px;
  }
  .social__item {
    margin-left: 16px;
  }
  .blog__slide {
    width: 345px;
  }
  .filter__title::before {
    left: 25px;
  }
  .filter__title::after {
    right: 26px;
  }
  .card__details {
    font-size: 18px;
  }
}
@media (min-width: 700px) {
  .modal__wrap {
    width: 589px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
  .fancybox-close-small {
    right: 0;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__subtitle {
    max-width: 400px;
    padding-right: 0;
    font-size: 16px;
    margin-bottom: 44px;
  }
  .modal__social {
    margin-top: 30px;
    padding-top: 5px;
  }
  .modal {
    .form__btn {
      width: 185px;
    }
  }
  .modal__social {
    .social__item {
      width: 140px;
    }
    .social {
      justify-content: flex-start;
    }
  }
  .header__menu-btn {
    display: block;
  }
  .header__call {
    margin-left: auto;
  }
  .header__phone {
    font-size: 19px;
    line-height: 25px;
  }
  .header__comment {
    font-size: 12px;
  }
  .logo img:nth-child(2) {
    display: block;
    width: 223px;
  }
  .mobile,
  .logo img:first-child {
    display: none;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  main {
    padding-top: 30px;
  }
  .wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
  main::before {
    height: 664px;
  }
  .promo__info {
    max-width: 437px;
    padding: 30px 40px;
    padding-top: 45px;
    font-size: 16px;
    line-height: 24px;
  }
  .promo__title {
    margin-bottom: 25px;
    margin-right: -70px;
    font-size: 30px;
    line-height: 39px;
  }
  .promo__list {
    margin-right: -70px;
    flex-wrap: nowrap;
    margin-top: 38px;
    justify-content: space-between;
  }
  .promo__slide {
    height: 620px;
  }
  .promo__item b {
    font-size: 24px;
    line-height: 1.7;
  }
  .promo__item {
    width: auto;
  }
  .promo__link {
    display: block;
    position: relative;
    padding-right: 20px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 0;
      width: 10px;
      height: 10px;
      background-image: url(../img/icons/arrow-top.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .promo__btns {
    display: flex;
    align-items: center;
    margin-right: -80px;
  }
  .promo__slide--light {
    .promo__link {
      color: #2647E6;
      
      &::after {
        background-image: url(../img/icons/arrow-top-blue.svg);
      }
    }
  }
  .promo__slider {
    padding-bottom: 42px;
  }
  .promo {
    margin-bottom: 68px;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .product__subtitle {
    margin-bottom: 40px;
  }
  .product__item {
    margin-bottom: 20px;
  }
  .product__link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 117px;
    padding: 33px 30px;
    
    h4 {
      font-size: 20px;
    }
  }
  .product__block h3 {
    font-size: 22px;
  }
  .product__promo {
    margin-bottom: 35px;
  }
  .product__icon {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .product__link .more-btn {
    margin-top: 0;
  }
  .product__link .more-btn,
  .more-btn {
    width: 69px;
    height: 50px;
  }
  .product__link h4 {
    max-width: 370px;
  }
  .product__label {
    right: 32px;
    top: 5px;
  }
  .product__block {
    padding-top: 15px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    color: #141415;
    text-align: left;
    background-color: #fff;
    background-image: none;
  }
  .product__info {
    width: ~"calc(100% - 330px)";
    padding-top: 35px;
  }
  .product__img {
    width: 250px;
    height: 100%;
    margin-top: 0;
  }
  .product__more {
    color: #2647E6;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  .product {
    margin-bottom: 137px;
  }
  .form__select {
    background-position: right 25px center;
  }
  .calc h2 {
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
    padding-right: 172px;
    
    img {
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
  .form__input,
  .form__select {
    margin-bottom: 25px;
    font-size: 15px;
  }
  .form__line--range {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 22px;
    
    .form__select {
      width: 157px;
      order: 3;
    }
  }
  .form__line--range .form__range--sum {
    order: 1;
  }
  .form__line--range .form__range--month {
    order: 2;
  }
  .form__range--sum {
    width: 100%;
  }
  .form__range--month {
    width: ~"calc(100% - 177px)";
  }
  #slider-range-max,
  #slider-range-max2 {
    bottom: 25px;
  }
  .form__range-label {
    top: 70px;
  }
  .form__parameters {
    display: block;
    float: left;
    width: 48%;
    margin-right: 41px;
    margin-bottom: 30px;
    
    p {
      margin-top: 0;
    }
  }
  .form__column {
    .form__checkbox-label {
      margin-bottom: 16px;
      margin-top: 21px;
    }
  }
  .form__sum {
    margin-top: 15px;
  }
  .form__checkbox-label {
    font-size: 14px;
  }
  .form__price {
    margin-bottom: 170px;
  }
  .form__link {
    em {
      display: block;
      font-style: normal;
    }
    span {
      display: none;
    }
  }
  .form__btns {
    flex-direction: row;
    margin-bottom: 19px;
  }
  .form__btn span {
    display: block;
    margin-left: 5px;
  }
  .calc__form {
    margin-bottom: 20px;
    padding: 35px 40px;
    padding-bottom: 45px;
  }
  .proposal__title {
    padding: 22px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 32px;
    
    span {
      display: inline;
    }
  }
  .proposal__table table th:first-child::after {
    display: none;
  }
  .proposal__table table th {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 0;
  }
  .proposal__table table {
    display: table;
    border-spacing: 0 10px;
  }
  .last__table table tbody,
  .proposal__table table tbody {
    display: table-row-group;
  }
  .proposal__table table td,
  .proposal__table table th {
    display: table-cell;
    padding: 15px;
  }
  .proposal__table table tr {
    display: table-row;
  }
  .proposal__table table tr:not(:first-child) {
    padding: 0;
  }
  .proposal__table table th {
    padding-bottom: 13px;
  }
  .proposal__table table th:first-child {
    padding-left: 15px;
    margin-right: 0;
    text-align: left;
  }
  .proposal__table table td:nth-child(2),
  .proposal__table table td:nth-child(3) {
    border-bottom: 0;
    padding-bottom: 15px;
    text-align: center;
  }
  .proposal__table table td:first-child {
    border-radius: 20px 0 0 20px;
    width: 40%;
  }
  .proposal__table table td:last-child {
    border-radius: 0 20px 20px 0;
  }
  .proposal__table table td:nth-child(4) {
    padding-right: 0;
  }
  .proposal__link {
    display: block;
    padding-right: 0;
    width: 69px;
    height: 50px;
    background: #E9EDFD;
    border-radius: 13px;
    
    span {
      display: none;
    }
    &::after {
      top: 50%;
      left: 50%;
      right: auto;
      transform: translate(-50%,-50%);
    }
  }
  .proposal__order {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #002CFF;
    border-radius: 12px;
  }
  .proposal__wrap {
    background-color: rgba(255,255,255,0);
  }
  .proposal {
    padding-bottom: 35px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.6);
  }
  .proposal__btns {
    justify-content: center;
    margin-top: 20px;
  }
  .proposal__btn {
    width: 289px;
    margin-right: 15px;
  }
  .benefits__img img {
    height: 429px;
  }
  .benefits h2 {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .benefits__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 652px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__item {
    width: 302px;
    margin-bottom: 23px;
    margin-left: 15px;
    padding: 30px;
    padding-left: 46px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 24px;
    
    &::before {
      top: 30px;
      left: -30px;
    }
    .benefits__title {
      margin-bottom: 5px;
    }
  }
  .benefits__title {
    font-size: 18px;
    line-height: 28px;
  }
  .benefits__item:first-child::before,
  .benefits__item:nth-child(2)::before {
    left: -33px;
  }
  .benefits__btn {
    width: 222px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .benefits {
    margin-bottom: 123px;
  }
  .last__table table tr:first-child {
    padding: 0;
  }
  .last__table table th em {
    display: none;
  }
  .last h2 {
    max-width: 350px;
  }
  .last__table {
    margin-top: 40px;
  }
  .last__table table {
    display: table;
    border-spacing: 0;
    
    th:first-child {
      width: 40%;
      border-radius: 20px 0 0 0;
      padding-left: 33px;
    }
    th:last-child {
      width: 28%;
      border-radius: 0 20px 0 0;
    }
    th {
      width: 30%;
      padding-top: 23px;
      padding-bottom: 23px;
      font-size: 15px;
      line-height: 24px;
    }
    th:nth-child(2) i {
      display: none;
    }
    tr:last-child td:first-child {
      border-radius: 0 0 0 20px;
    }
    tr:last-child td:last-child {
      border-radius: 0 0 20px 0;
    }
    td:first-child {
      width: 100%;
      padding-left: 33px;
      padding-bottom: 0;
      display: table-cell;
      order: 1;
    }
    td {
      padding-top: 19px;
      padding-bottom: 21px;
      font-size: 15px;
      line-height: 24px;
    }
  }
  .last__table table th:first-child,
  .last__table table td,
  .last__table table th {
    display: table-cell;
  }
  .last__table table tr {
    padding: 0;
  }
  .last__table table td:nth-child(2) {
    width: 35%;
    order: 2;
    padding-left: 33px;
  }
  .last__table table td:nth-child(3) {
    order: 3;
    width: 25%;
  }
  .last__table table td:nth-child(4) {
    order: 4;
    width: 28%;
  }
  .last__table {
    margin-bottom: 35px;
  }
  .last__subtitle {
    max-width: 100%;
  }
  .last__btn {
    width: 223px;
    margin-left: auto;
    margin-right: auto;
  }
  .last {
    margin-bottom: 110px;
  }
  .partner .title {
    margin-bottom: 10px;
  }
  .partner__subtitle {
    max-width: 330px;
    margin-bottom: 40px;
  }
  .partner__subtitle,
  .partner .title {
    display: block;
  }
  .partner__btns,
  .partner .title .more,
  .partner__title {
    display: none;
  }
  .partner__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .partner__item {
    margin-bottom: 20px;
    width: 48%;
    height: 204px;
    padding-right: 25px;
    padding-bottom: 25px;
    
    &:nth-child(6) {
      margin-right: 200px;
    }
  }
  .partner__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .partner__info {
    margin-top: auto;
  }
  .partner__logo {
    margin-bottom: 32px;
  }
  .partner__item--more {
    display: block;
    width: 100%;
    margin-bottom: 0;
    color: #fff;
    background-color: #4E6BF1;
    background: linear-gradient(108.26deg, #4E6BF1 18.65%, #2040E4 77.84%);
  }
  .partner .wrapper {
    position: relative;
  }
  .partner__img {
//    width: 330px;
    width: 42%;
    height: 428px;
    position: absolute;
    left: 52%;
    top: 579px;
    border-radius: 30px;
    
    img {
      border-radius: 30px;
      min-height: 100%;
    }
  }
  .partner__more {
    text-decoration: none;
    height: 100%;
    display: block;
  }
  .partner__top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
    span {
      margin-left: 20px;
      font-weight: 500;
      font-size: 35px;
      line-height: 1.7;
    }
  }
  .partner__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    .more-btn {
      background: #FFFFFF;
      
      svg {
        fill: #2647E6;
      }
    }
  }
  .partner__text {
    width: 205px;
    line-height: 1.5;
  }
  .partner {
    margin-bottom: 145px;
  }
  .blog {
    margin-bottom: 124px;
    
    .title {
      margin-bottom: 38px;
    }
  }
  .blog__bottom {
    padding-right: 5px;
  }
  .blog__slide {
    width: 330px;
  }
  .blog__slider {
    padding-left: 44px;
  }
  .feedback__title span {
    margin-top: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    max-width: 380px;
  }
  .feedback__title {
    margin-bottom: 35px;
  }
  .feedback .form__line {
    display: flex;
    justify-content: space-between;
  }
  .feedback .form__field {
    width: 48%;
    margin-bottom: 30px;
    
    .form__input {
      margin-bottom: 0;
    }
  }
  .feedback {
    .form__btn {
      width: 185px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }
  }
  .feedback .wrapper {
    padding-bottom: 65px;
  }
  .footer__top {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 37px;
  }
  .footer__nav {
    margin-top: 0;
    order: 1;
    width: 40%;
    margin-bottom: 75px;
    
    .footer__link {
      margin-top: 30px;
    }
  }
  .footer__info {
    order: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    margin-bottom: 75px;
    padding-left: 50px;
  }
  .footer__info .footer__link {
    margin-top: auto;
    margin-bottom: 0;
  }
  .footer__contacts {
    order: 3;
    width: 40%;
  }
  .footer__feedback {
    order: 4;
    width: 60%;
    border-bottom: 0;
    padding-left: 50px;
    align-items: flex-start;
  }
  .footer__bottom {
    position: relative;
    padding-top: 36px;
    padding-left: 47%;
  }
  .footer__logo {
    position: absolute;
    top: 36px;
    left: 0;
  }
  .footer .wrapper {
    padding-bottom: 47px;
  }
  .menu-mobile__btn,
  .footer__down {
    display: none;
  }
  .menu-mobile__sublist,
  .footer__phone {
    display: block;
  }
  .footer__block {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 35px;
  }
  .footer__mail {
    order: 2;
    width: 35%;
    margin-bottom: 7px;
  }
  .footer__call {
    width: 60%;
    margin-bottom: 7px;
  }
  .menu-mobile__item,
  .menu-mobile__social {
    width: 50%;
  }
  .footer__feedback .social {
    align-self: center;
  }
  .footer__time {
    margin-bottom: 29px;
  }
  .footer__btn {
    width: 210px;
  }
  .menu-mobile__close {
    position: absolute;
    top: 27px;
    right: 45px;
    margin-top: 0;
  }
  .menu-mobile__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-mobile__phone {
    margin-bottom: 0;
    width: 50%;
    
    a {
      font-size: 20px;
      margin-bottom: 9px;
    }
  }
  .menu-mobile__wrap {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 65px;
    padding-top: 100px;
  }
  .menu-mobile__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 85px;
  }
  .menu-mobile__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
  }
  .menu-mobile__item:nth-child(4) {
    margin-top: 35px;
  }
  .top__wrap {
    min-height: 128px;
    padding: 25px 30px;
    background-image: url(../img/images/bg-1tablet.png);
  }
  .top {
    margin-bottom: 30px;
  }
  .breadcrumbs {
    margin-bottom: 24px;
  }
  .breadcrumbs__link {
    font-size: 13px;
  }
  h1 {
    max-width: 550px;
    font-size: 26px;
    line-height: 32px;
  }
  .filter__title {
    height: 77px;
    margin-bottom: 35px;
    justify-content: flex-start;
    padding-left: 89px;
    font-size: 16px;
  }
  .filter__title::after {
    top: 35px;
    right: 30px;
  }
  .filter__title::before {
    top: 26px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  .catalog__filterbtn {
    margin-right: 15px;
  }
  .catalog__filter {
    margin-bottom: 40px;
  }
  .catalog__about {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 0;
    margin-bottom: 27px;
    border-bottom: 0;
    border-top: 1px solid #c5c9d5;
  }
  .catalog__point:nth-child(2n+1),
  .catalog__point:nth-child(2n) {
    width: auto;
  }
  .catalog__logo {
    margin-bottom: 20px;
  }
  .catalog__point b {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .catalog__btns {
    padding-top: 0;
    justify-content: flex-start;
  }
  .catalog__btn {
    width: 185px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background: #254BFF;
    border-radius: 12px;
    
    span {
      display: inline;
      margin-left: 5px;
    }
  }
  .more-link {
    width: 69px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9EDFD;
    border-radius: 13px;
    
    span {
      display: none;
    }
    svg {
      margin-left: 0;
      display: block;
    }
  }
  .catalog__item {
    padding: 33px 40px;
    padding-bottom: 29px;
    margin-bottom: 15px;
  }
  .info ul li {
    margin-bottom: 0;
  }
  .faq,
  .info,
  .catalog {
    margin-bottom: 130px;
  }
  .info__block {
    padding: 40px;
  }
  .info h2 {
    font-size: 20px;
    line-height: 26px;
  } 
  .info h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .info h2,
  .info h3,
  .info h4 {
    padding-left: 30px;
  }
  .info ul {
    font-size: 16px;
    line-height: 31px;
    
    li::before {
      top: 12px;
    }
  }
  .faq__list {
    margin-top: 40px;
  }
  .faq__item {
    min-height: 94px;
    padding: 21px 28px;
  }
  .faq__title {
    padding-right: 200px;
    font-size: 16px;
    line-height: 24px;
  }
  .filter__title--close i {
    display: block;
    margin-left: auto;
    padding-right: 67px;
    font-style: normal;
    color: #2647E6;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
  }
  .filter__title--close {
    margin-bottom: 10px;
  }
  .filter__wrap {
    padding: 45px 30px;
  }
  .filter__field,
  .filter__cancel {
    display: flex;
  }
  .filter__field {
    justify-content: space-between;
    
    &--options {
      margin-bottom: 46px;
    }
    &--btns {
      flex-direction: row-reverse;
    }
  }
  .filter__block,
  .filter__btn,
  .filter__cancel {
    width: 48%;
    margin-top: 0;
  }
  .internal {
    padding-top: 15px;
  }
  .filter__drop {
    left: 45px;
    right: 45px;
  }
  .card__info {
    position: relative;
    padding: 40px;
    margin-bottom: 20px;
    
    .form__select {
      margin-bottom: 20px;
    }
  }
  .card__btn {
    position: absolute;
    bottom: 30px;
    right: 90px;
  }
  .table table td:last-child {
    text-align: left;
    width: 30%;
  }
  .table table {
    font-size: 16px;
    line-height: 31px;
    margin-bottom: 37px;
  }
  .table table td:first-child em {
    display: block;
    margin-bottom: 5px;
  }
  .card__table--top {
    width: 280px;
    max-width: 100%;
    margin-left: 20px;
    
    table td:last-child {
      width: 35%;
    }
    table {
      margin-bottom: 0;
    }
  }
  .attention,
  .card__list li {
    font-size: 16px;
    line-height: 24px;
  }
  .attention {
    margin-left: 0;
    padding: 0;
    padding-left: 62px;
    background-color: rgba(255,255,255,0);
    
    &::before {
      top: 0;
      left: 0;
    }
  }
  .card__title {
    height: 300px;
    padding: 32px 40px;
    margin-bottom: 20px;
  }
  .card__title h1 {
    max-width: 345px;
    font-size: 26px;
    line-height: 32px;
  }
  .card__subtitle {
    padding-left: 20px;
  }
  .card__block {
    padding: 40px;
    padding-bottom: 10px;
    margin-bottom: 130px;
  }
  .details span i {
    left: 81%;
    right: auto;
  }
  .details span i::before {
    left: 28px;
    right: auto;
  }
  .card__list {
    margin-top: 37px;
  }
  .card__list li {
    padding-top: 23px;
    padding-left: 60px;
    
    &::before {
      width: 24px;
      height: 24px;
      top: 24px;
    }
  }
  .card__parameters {
    margin-bottom: 132px;
  }
  .tariff__img {
    height: 300px;
    margin-bottom: 20px;
  }
  .tariff__title {
    padding-right: 224px;
    margin-bottom: 20px;
  }
  .tariff__btn {
    width: 167px;
  }
  .tariff__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tariff__item {
    margin-bottom: 20px;
    width: 49%;
    
    &:last-child {
      width: 100%;
    }
  }
  .tariff__block {
    padding: 40px;
  }
  .calc--offer,
  .offer,
  .tariff {
    margin-bottom: 130px;
  }
  .offer__top h2 {
    max-width: 320px;
  }
  .offer__top {
    margin-bottom: 20px;
  }
  .offer__row {
    font-size: 16px;
    line-height: 28px;
  }
  .offer__table-wrap {
    width: 1074px;
  }
  .offer__cell {
    width: 194px;
    height: 134px;
    padding: 14px 20px;
  }
  .offer__value {
    font-size: 23px;
    
    span {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .offer__comment {
    max-width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  .offer__table {
    margin-bottom: 35px;
  }
  .offer__btns {
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .info__title,
  .calc__title {
    max-width: 100%;
    font-size: 22px;
    line-height: 28px;
  }
  .calc__subtitle {
    max-width: 100%;
    margin-bottom: 68px;
  }
  .info__title {
    display: block;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .connect .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .connect__block {
    width: 49%;
    height: 323px;
    margin-bottom: 0;
  }
  .connect {
    margin-bottom: 50px;
  }
}