@media (min-width: 360px) {
  .footer__block address {
    max-width: 240px;
  }
  .footer__btn {
    width: 165px;
  }
  .social__item {
    margin-left: 16px;
  }
  .blog__slide {
    width: 345px;
  }
}
@media (min-width: 700px) {
  .modal__wrap {
    width: 589px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .fancybox-close-small {
    right: 0;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__subtitle {
    max-width: 400px;
  }
  .modal {
    .form__btn {
      width: 185px;
    }
  }
  .modal__social {
    .social__item {
      width: 140px;
    }
    .social {
      justify-content: flex-start;
    }
  }
  .header__menu-btn {
    display: block;
  }
  .header__call {
    margin-left: auto;
  }
  .header__phone {
    font-size: 19px;
    line-height: 25px;
  }
  .header__comment {
    font-size: 12px;
  }
  .logo img:nth-child(2) {
    display: block;
    width: 223px;
  }
  .mobile,
  .logo img:first-child {
    display: none;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  main {
    padding-top: 30px;
  }
  .wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
  main::before {
    height: 664px;
  }
  .promo__info {
    max-width: 437px;
    padding: 30px 40px;
    padding-top: 45px;
    font-size: 16px;
    line-height: 24px;
  }
  .promo__title {
    margin-bottom: 25px;
    margin-right: -70px;
    font-size: 30px;
    line-height: 39px;
  }
  .promo__list {
    margin-right: -70px;
    flex-wrap: nowrap;
    margin-top: 60px;
    justify-content: space-between;
  }
  .promo__item b {
    font-size: 24px;
    line-height: 1.7;
  }
  .promo__item {
    width: auto;
  }
  .promo__link {
    display: block;
    position: relative;
    padding-right: 20px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 0;
      width: 10px;
      height: 10px;
      background-image: url(../img/icons/arrow-top.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .promo__btns {
    display: flex;
    align-items: center;
    margin-right: -80px;
  }
  .promo__slide--light {
    .promo__link {
      color: #2647E6;
      
      &::after {
        background-image: url(../img/icons/arrow-top-blue.svg);
      }
    }
  }
  .promo__slider {
    padding-bottom: 35px;
  }
  .promo {
    margin-bottom: 75px;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .product__subtitle {
    margin-bottom: 40px;
  }
  .product__item {
    margin-bottom: 20px;
  }
  .product__link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 117px;
    padding: 33px 30px;
  }
  .product__icon {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .product__link .more-btn {
    margin-top: 0;
  }
  .product__link h4 {
    max-width: 370px;
  }
  .product__label {
    right: 32px;
    top: 5px;
  }
  .product__block {
    padding-top: 15px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    color: #141415;
    text-align: left;
    background-color: #fff;
    background-image: none;
  }
  .product__info {
    width: ~"calc(100% - 330px)";
    padding-top: 35px;
  }
  .product__img {
    width: 250px;
    margin-top: 0;
  }
  .product__more {
    color: #2647E6;
    font-size: 16px;
    line-height: 1.2;
  }
  .product {
    margin-top: 130px;
  }
  .calc h2 {
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
    padding-right: 172px;
    
    img {
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
  .form__input,
  .form__select {
    margin-bottom: 25px;
    font-size: 15px;
  }
  .calc__form {
    padding: 35px 40px;
  }
  .form__line--range {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    .form__select {
      width: 157px;
    }
  }
  .form__range--sum {
    width: 100%;
  }
  .form__range--month {
    width: ~"calc(100% - 177px)";
  }
  #slider-range-max,
  #slider-range-max2 {
    bottom: 25px;
  }
  .form__range-label {
    top: 70px;
  }
}