//.nav__wrap,
//.nav {
//  display: flex;
//  align-items: center;
//}
.nav {
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #C5C9D5;
  
  .more-arrow {
    padding-bottom: 16px;
  }
  overflow-x: scroll;
  
  &--order {
    margin-top: 30px;
  }
}
.nav__wrap {
  width: 600px;
}
.nav__link {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 15px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4B4C54;
  text-decoration: none;
  
  &--active {
    position: relative;
    color: @blue;
    .transition();
    
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: @blue;
    }
  }
  &:hover,
  &:active {
    color: @blue;
    .transition();
  }
}
.nav__link span,
.nav--order .more-arrow,
.nav__date,
.nav--card {
  display: none;
}