.news {
  margin-bottom: 88px;
}
.news__wrap {
  display: flex;
  flex-direction: column-reverse;
}
.news__info {
  padding: 35px 24px 44px 25px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  border-radius: 25px;
  
  .more-arrow {
    justify-content: flex-start;
    margin-top: 67px;
  }
  h2 {
    margin-top: 0;
  }
}
.news__img {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 12px;
  overflow: hidden;
  
  img {
    display: block;
    flex: 0 0 auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    max-width: none;
    border-radius: 12px;
  }
}